.cliente {
    border: #DC143C medium solid;
    
}
.cliente1 {
    border: #1E90FF medium solid;
    
}
.cliente2 {
    border: #32CD32 medium solid;
    
}
.cliente3 {
    border: #FF00FF medium solid;
    
}
.cliente4 {
    border: #ff00ff medium solid;
    
}
