<!DOCTYPE html>
<html>
<head>
	<title>To Do List</title>
	  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="CSS1/main.css">
</head>
<body ng-app="todoListApp">
  <h1>On going F.D.N.S. Projects</h1>

	<div ng-controller="mainCtrl" class="list">
<div class="item" ng-class="{'editing-item': editing ,'edited': todo.edited}" ng-repeat="todo in todos" >
    <input ng-model="todo.completed" type="checkbox"/>
    <label ng-hide="editing" >{{todo.name}}</label>
    <input ng-click="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
  <div class="actions">
  	<a href="" ng-click="editing = !editing">edit</a>
  	<a href="" ng-click="helloWorld()">save</a>
  	<a href="" class="delete">delete</a>
  </div>
	</div>
</div>
<script type="text/javascript" src="scripts/angular.js" ></script>

 <script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>
